@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Icons */

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 40%;

    display: block;

    width: 27px;
    height: 50px;
    padding: 0;
	background: url(../img/slide-prev.png) no-repeat;
	background-size: contain;
    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
	z-index: 20;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .8;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 25px;
    background: url(../img/slide-prev.png) no-repeat;
    background-size: contain;
    z-index: 1;
}
[dir='rtl'] .slick-prev
{
    right: 25px;
    left: auto;
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
}

.slick-next
{
    right: 25px;
    background: url(../img/slide-next.png) no-repeat;
    background-size: contain;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 25px;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 45px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;
	z-index: 10;
    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;


    content: '•';
    text-align: center;

    color: #dbdbdf;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    color: #00966c;
}
.lineup-slide img{
	width: 100%;
	height: auto;
}

.lineup-slide{
	padding-bottom: 50px;
}
.lineup-slide .slick-prev
{
    left: -25px;
    background: url(../img/lineup-prev.png) no-repeat;
    z-index: 1;
	height: 30px;
}

.lineup-slide .slick-next
{
    right: -35px;
	height: 30px;
    background: url(../img/lineup-next.png) no-repeat;
}

.lineup-slide li{
	text-align: center;
}
.lineup-slide li a{
	color: #1a4735;
	text-decoration: none;
}
.lineup-slide li a p{
	padding: 0 5px;
}
@media (max-width: 767px) {
	.slick-next{
		right: 0px;
    top: 35%;
	}
	.slick-prev{
		left: 0px;
    	top: 35%;
	}
	.slick-dots{
		bottom: 0px;
	}
}