@mixin mq($breakpoint: medium) {
  @if $breakpoint == xsmall {
    @media screen and (max-width: 320px) {
      @content;
    }
  } @else if $breakpoint == small {
    @media screen and (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media screen and (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media screen and (max-width: 66.24em) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media screen and (max-width: 1280px) {
        @content;
    }
  }
}
.main-content {
  overflow: hidden;
}

.top-catch {
  background: url(../img/top/main_top.png) no-repeat center top;
  height: 50px;
  background-size: auto 100%;
  text-indent: -9999px;
}

.main-content {
  .slides {
    height: 30vw;
    min-height: 350px;
    max-height: 450px;
    width: 100%;
	@include mq {
    height: 450px;
    max-height: none;
	  }
  }
  .slide1 {
    div {
      background: #f1f1ee url(../img/top/main_ph01.jpg) no-repeat center 80% ;
      background-size: auto 130%;
      height: 30vw;
      min-height: 350px;
      max-height: 450px;
      position: relative;
      z-index: 20;
      width: 100%;
      text-align: center;
      padding-top: 10%;
	@include mq {
      	height: 350px;
    	background-size:auto 350px ;
		background-position:center top;
    	max-height: none;
    	min-height: 0;
		padding-top: 0%;
		}
    }
    p {
      color: #1a4735;
      text-align: center;
      padding-bottom: 50px;
      font-size: 2.5rem;
      text-shadow: 0 0 8px #FFFFFF, 0 0 8px #FFFFFF, 0 0 8px #FFFFFF, 0 0 8px #FFFFFF;
		@include mq {
      font-size: 14px;
			padding-top: 170px;
      		padding-bottom: 180px;
		}
    }
	  .btn1{
		  @include mq {
      		font-size: 14px;
		  }
	  }
  }
}

.info-text {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
	box-sizing: border-box;
		@include mq {
  display: block;
			padding:0 5%;
	}
	
  dt {
    background: #e60012;
    margin-right: 15px;
    color: #FFF;
    padding: 3px 15px;
		@include mq {
			margin-bottom: 10px;
			display: inline-block;
	  }
  }
  dd {
    color: #e60012;
  }
}

.inpower {
  background: url(../img/inpower.png) no-repeat center top;
  padding: 130px 0 30px 0;
  background-size: 80px auto;
  margin-top: 50px;
}

@media (max-width: 66.24em) {
  .top-catch {
    height: 8vw;
    background-size: 400% auto;
  }
}