@charset "UTF-8";
/* リセット
---------------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}

table{
	border-collapse:collapse;
	border-spacing:0;
	font-size:100%;
}
fieldset,img{
	border:0;
	vertical-align:top;
}
address,caption,cite,code,dfn,em,strong,th,var{
	font-style:normal;
	font-weight:normal;
}

li{
	list-style:none;
}

caption,th{
	text-align:left;
}

h1,h2,h3,h4,h5,h6,small{
	font-size:100%;
	font-weight:normal;
}

q:before,q:after{content:'';
}

abbr,acronym{
	border:0;
	font-variant:normal;
}

br{
	letter-spacing:normal;
}

/* to preserve line-height and selector appearance */
sup{
	vertical-align:text-top;
}

sub{
	vertical-align:text-bottom;
}
input,textarea,select{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,textarea,select{
	*font-size:100%;
}

.hover{
}

/* ページ共通
---------------------------------------------------- */
html{
	color:#333333;
	letter-spacing:0.05em;
}


body{
	margin:0;
	padding:0;
	font:12px/1.4 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", Osaka, Arial, Helvetica, sans-serif;
	color:#000000;
}

*:first-child+html body{
	font-size:87%;
}

a{
	color:#CE7F02;
	text-decoration:none;
	cursor:pointer;
}

a:hover{
	color:#6E4809;
	text-decoration:underline;
}

.clearfix:after{
  content:".";  /* 新しい要素を作る */
  display:block;  /* ブロックレベル要素に */
  clear:both;
  height:0;
  visibility:hidden;
}

.clearfix{min-height:1px;}
* html .clearfix{
  height:1px;
  /*\*//*/
  height:auto;
  overflow:hidden;
  /**/
}

.clear{clear:both;}

.none{
	margin:0;
	padding:0;
	border:none;
}

/*-- Width --*/
.WAuto{width:auto !important;}
.W0{width:0 !important;}
.W5{width:5px !important;}
.W10{width:10px !important;}
.W15{width:15px !important;}
.W20{width:20px !important;}
.W25{width:25px !important;}
.W30{width:30px !important;}
.W35{width:35px !important;}
.W40{width:40px !important;}
.W45{width:45px !important;}
.W50{width:50px !important;}
.W55{width:55px !important;}
.W60{width:60px !important;}
.W65{width:65px !important;}
.W70{width:70px !important;}
.W75{width:75px !important;}
.W80{width:80px !important;}
.W85{width:85px !important;}
.W90{width:90px !important;}
.W95{width:95px !important;}
.W100{width:100px !important;}
.W110{width:110px !important;}
.W120{width:120px !important;}
.W130{width:130px !important;}
.W140{width:140px !important;}
.W150{width:150px !important;}
.W160{width:160px !important;}
.W170{width:170px !important;}
.W180{width:180px !important;}
.W190{width:190px !important;}
.W200{width:200px !important;}
.W210{width:210px !important;}
.W220{width:220px !important;}
.W230{width:230px !important;}
.W240{width:240px !important;}
.W250{width:250px !important;}
.W260{width:260px !important;}
.W270{width:270px !important;}
.W280{width:280px !important;}
.W290{width:290px !important;}
.W300{width:300px !important;}
.W310{width:310px !important;}
.W320{width:320px !important;}
.W330{width:330px !important;}
.W340{width:340px !important;}
.W350{width:350px !important;}
.W360{width:360px !important;}
.W370{width:370px !important;}
.W380{width:380px !important;}
.W390{width:390px !important;}
.W400{width:400px !important;}
.W410{width:410px !important;}
.W420{width:420px !important;}
.W430{width:430px !important;}
.W440{width:440px !important;}
.W450{width:450px !important;}
.W460{width:460px !important;}
.W470{width:470px !important;}
.W480{width:480px !important;}
.W490{width:490px !important;}
.W500{width:500px !important;}
.W1P{width:1% !important;}
.W2P{width:2% !important;}
.W3P{width:3% !important;}
.W4P{width:4% !important;}
.W5P{width:5% !important;}
.W6P{width:6% !important;}
.W7P{width:7% !important;}
.W8P{width:8% !important;}
.W9P{width:9% !important;}
.W10P{width:10% !important;}
.W11P{width:11% !important;}
.W12P{width:12% !important;}
.W13P{width:13% !important;}
.W14P{width:14% !important;}
.W15P{width:15% !important;}
.W16P{width:16% !important;}
.W17P{width:17% !important;}
.W18P{width:18% !important;}
.W19P{width:19% !important;}
.W20P{width:20% !important;}
.W21P{width:21% !important;}
.W22P{width:22% !important;}
.W23P{width:23% !important;}
.W24P{width:24% !important;}
.W25P{width:25% !important;}
.W26P{width:26% !important;}
.W27P{width:27% !important;}
.W28P{width:28% !important;}
.W29P{width:29% !important;}
.W30P{width:30% !important;}
.W31P{width:31% !important;}
.W32P{width:32% !important;}
.W33P{width:33% !important;}
.W34P{width:34% !important;}
.W35P{width:35% !important;}
.W36P{width:36% !important;}
.W37P{width:37% !important;}
.W38P{width:38% !important;}
.W39P{width:39% !important;}
.W40P{width:40% !important;}
.W41P{width:41% !important;}
.W42P{width:42% !important;}
.W43P{width:43% !important;}
.W44P{width:44% !important;}
.W45P{width:45% !important;}
.W46P{width:46% !important;}
.W47P{width:47% !important;}
.W48P{width:48% !important;}
.W49P{width:49% !important;}
.W50P{width:50% !important;}
.W51P{width:51% !important;}
.W52P{width:52% !important;}
.W53P{width:53% !important;}
.W54P{width:54% !important;}
.W55P{width:55% !important;}
.W56P{width:56% !important;}
.W57P{width:57% !important;}
.W58P{width:58% !important;}
.W59P{width:59% !important;}
.W60P{width:60% !important;}
.W61P{width:61% !important;}
.W62P{width:62% !important;}
.W63P{width:63% !important;}
.W64P{width:64% !important;}
.W65P{width:65% !important;}
.W66P{width:66% !important;}
.W67P{width:67% !important;}
.W68P{width:68% !important;}
.W69P{width:69% !important;}
.W70P{width:70% !important;}
.W71P{width:71% !important;}
.W72P{width:72% !important;}
.W73P{width:73% !important;}
.W74P{width:74% !important;}
.W75P{width:75% !important;}
.W76P{width:76% !important;}
.W77P{width:77% !important;}
.W78P{width:78% !important;}
.W79P{width:79% !important;}
.W80P{width:80% !important;}
.W81P{width:81% !important;}
.W82P{width:82% !important;}
.W83P{width:83% !important;}
.W84P{width:84% !important;}
.W85P{width:85% !important;}
.W86P{width:86% !important;}
.W87P{width:87% !important;}
.W88P{width:88% !important;}
.W89P{width:89% !important;}
.W90P{width:90% !important;}
.W91P{width:91% !important;}
.W92P{width:92% !important;}
.W93P{width:93% !important;}
.W94P{width:94% !important;}
.W95P{width:95% !important;}
.W96P{width:96% !important;}
.W97P{width:97% !important;}
.W98P{width:98% !important;}
.W99P{width:99% !important;}
.W100P{width:100% !important;}

/*-- Margin --*/
.M0{margin:0 !important;}
.M5{margin:5px !important;}
.M10{margin:10px !important;}
.M15{margin:15px !important;}
.M20{margin:20px !important;}
.M25{margin:25px !important;}

.Ma{margin:auto !important;}
.M0a{margin:0 auto !important;}
.MLRa{margin-left:auto !important;margin-right:auto !important;}
.M0_5{margin:0 5px !important;}
.M0_10{margin:0 10px !important;}
.M0_15{margin:0 15px !important;}
.M0_20{margin:0 20px !important;}
.M0_25{margin:0 25px !important;}
.M0_30{margin:0 30px !important;}

.MT0{margin-top:0px !important;}
.MT1{margin-top:1px !important;}
.MT2{margin-top:2px !important;}
.MT3{margin-top:3px !important;}
.MT4{margin-top:4px !important;}
.MT5{margin-top:5px !important;}
.MT6{margin-top:6px !important;}
.MT7{margin-top:7px !important;}
.MT8{margin-top:8px !important;}
.MT9{margin-top:9px !important;}
.MT10{margin-top:10px !important;}
.MT11{margin-top:11px !important;}
.MT12{margin-top:12px !important;}
.MT13{margin-top:13px !important;}
.MT14{margin-top:14px !important;}
.MT15{margin-top:15px !important;}
.MT16{margin-top:16px !important;}
.MT17{margin-top:17px !important;}
.MT18{margin-top:18px !important;}
.MT19{margin-top:19px !important;}
.MT20{margin-top:20px !important;}
.MT21{margin-top:21px !important;}
.MT22{margin-top:22px !important;}
.MT23{margin-top:23px !important;}
.MT24{margin-top:24px !important;}
.MT25{margin-top:25px !important;}
.MT26{margin-top:26px !important;}
.MT27{margin-top:27px !important;}
.MT28{margin-top:28px !important;}
.MT29{margin-top:29px !important;}
.MT30{margin-top:30px !important;}
.MT31{margin-top:31px !important;}
.MT32{margin-top:32px !important;}
.MT33{margin-top:33px !important;}
.MT34{margin-top:34px !important;}
.MT35{margin-top:35px !important;}
.MT36{margin-top:36px !important;}
.MT37{margin-top:37px !important;}
.MT38{margin-top:38px !important;}
.MT39{margin-top:39px !important;}
.MT40{margin-top:40px !important;}
.MT45{margin-top:45px !important;}
.MT50{margin-top:50px !important;}
.MT55{margin-top:55px !important;}
.MT60{margin-top:60px !important;}
.MTex{margin-top:65px;}

.MR0{margin-right:0px !important;}
.MR1{margin-right:1px !important;}
.MR2{margin-right:2px !important;}
.MR3{margin-right:3px !important;}
.MR4{margin-right:4px !important;}
.MR5{margin-right:5px !important;}
.MR6{margin-right:6px !important;}
.MR7{margin-right:7px !important;}
.MR8{margin-right:8px !important;}
.MR9{margin-right:9px !important;}
.MR10{margin-right:10px !important;}
.MR11{margin-right:11px !important;}
.MR12{margin-right:12px !important;}
.MR13{margin-right:13px !important;}
.MR14{margin-right:14px !important;}
.MR15{margin-right:15px !important;}
.MR16{margin-right:16px !important;}
.MR17{margin-right:17px !important;}
.MR18{margin-right:18px !important;}
.MR19{margin-right:19px !important;}
.MR20{margin-right:20px !important;}
.MR21{margin-right:21px !important;}
.MR22{margin-right:22px !important;}
.MR23{margin-right:23px !important;}
.MR24{margin-right:24px !important;}
.MR25{margin-right:25px !important;}
.MR26{margin-right:26px !important;}
.MR27{margin-right:27px !important;}
.MR28{margin-right:28px !important;}
.MR29{margin-right:29px !important;}
.MR30{margin-right:30px !important;}
.MR31{margin-right:31px !important;}
.MR32{margin-right:32px !important;}
.MR33{margin-right:33px !important;}
.MR34{margin-right:34px !important;}
.MR35{margin-right:35px !important;}
.MR36{margin-right:36px !important;}
.MR37{margin-right:37px !important;}
.MR38{margin-right:38px !important;}
.MR39{margin-right:39px !important;}
.MR40{margin-right:40px !important;}
.MR45{margin-right:45px !important;}
.MR50{margin-right:50px !important;}
.MR55{margin-right:55px !important;}
.MR60{margin-right:60px !important;}
.MRex{margin-right:65px;}

.MB0{margin-bottom:0px !important;}
.MB1{margin-bottom:1px !important;}
.MB2{margin-bottom:2px !important;}
.MB3{margin-bottom:3px !important;}
.MB4{margin-bottom:4px !important;}
.MB5{margin-bottom:5px !important;}
.MB6{margin-bottom:6px !important;}
.MB7{margin-bottom:7px !important;}
.MB8{margin-bottom:8px !important;}
.MB9{margin-bottom:9px !important;}
.MB10{margin-bottom:10px !important;}
.MB11{margin-bottom:11px !important;}
.MB12{margin-bottom:12px !important;}
.MB13{margin-bottom:13px !important;}
.MB14{margin-bottom:14px !important;}
.MB15{margin-bottom:15px !important;}
.MB16{margin-bottom:16px !important;}
.MB17{margin-bottom:17px !important;}
.MB18{margin-bottom:18px !important;}
.MB19{margin-bottom:19px !important;}
.MB20{margin-bottom:20px !important;}
.MB21{margin-bottom:21px !important;}
.MB22{margin-bottom:22px !important;}
.MB23{margin-bottom:23px !important;}
.MB24{margin-bottom:24px !important;}
.MB25{margin-bottom:25px !important;}
.MB26{margin-bottom:26px !important;}
.MB27{margin-bottom:27px !important;}
.MB28{margin-bottom:28px !important;}
.MB29{margin-bottom:29px !important;}
.MB30{margin-bottom:30px !important;}
.MB31{margin-bottom:31px !important;}
.MB32{margin-bottom:32px !important;}
.MB33{margin-bottom:33px !important;}
.MB34{margin-bottom:34px !important;}
.MB35{margin-bottom:35px !important;}
.MB36{margin-bottom:36px !important;}
.MB37{margin-bottom:37px !important;}
.MB38{margin-bottom:38px !important;}
.MB39{margin-bottom:39px !important;}
.MB40{margin-bottom:40px !important;}
.MB45{margin-bottom:45px !important;}
.MB50{margin-bottom:50px !important;}
.MB55{margin-bottom:55px !important;}
.MB60{margin-bottom:60px !important;}
.MBex{margin-bottom:65px;}

.ML0{margin-left:0px !important;}
.ML1{margin-left:1px !important;}
.ML2{margin-left:2px !important;}
.ML3{margin-left:3px !important;}
.ML4{margin-left:4px !important;}
.ML5{margin-left:5px !important;}
.ML6{margin-left:6px !important;}
.ML7{margin-left:7px !important;}
.ML8{margin-left:8px !important;}
.ML9{margin-left:9px !important;}
.ML10{margin-left:10px !important;}
.ML11{margin-left:11px !important;}
.ML12{margin-left:12px !important;}
.ML13{margin-left:13px !important;}
.ML14{margin-left:14px !important;}
.ML15{margin-left:15px !important;}
.ML16{margin-left:16px !important;}
.ML17{margin-left:17px !important;}
.ML18{margin-left:18px !important;}
.ML19{margin-left:19px !important;}
.ML20{margin-left:20px !important;}
.ML21{margin-left:21px !important;}
.ML22{margin-left:22px !important;}
.ML23{margin-left:23px !important;}
.ML24{margin-left:24px !important;}
.ML25{margin-left:25px !important;}
.ML26{margin-left:26px !important;}
.ML27{margin-left:27px !important;}
.ML28{margin-left:28px !important;}
.ML29{margin-left:29px !important;}
.ML30{margin-left:30px !important;}
.ML31{margin-left:31px !important;}
.ML32{margin-left:32px !important;}
.ML33{margin-left:33px !important;}
.ML34{margin-left:34px !important;}
.ML35{margin-left:35px !important;}
.ML36{margin-left:36px !important;}
.ML37{margin-left:37px !important;}
.ML38{margin-left:38px !important;}
.ML39{margin-left:39px !important;}
.ML40{margin-left:40px !important;}
.ML45{margin-left:45px !important;}
.ML50{margin-left:50px !important;}
.ML55{margin-left:55px !important;}
.ML60{margin-left:60px !important;}
.MLex{margin-left:65px;}

/*-- Padding --*/
.P0{padding:0 !important;}
.P5{padding:5px !important;}
.P10{padding:10px !important;}
.P15{padding:15px !important;}
.P20{padding:20px !important;}
.P25{padding:25px !important;}

.P0_5{padding:0 5px !important;}
.P0_10{padding:0 10px !important;}
.P0_15{padding:0 15px !important;}
.P0_20{padding:0 20px !important;}
.P0_25{padding:0 25px !important;}

.P5_0{padding:5px 0 !important;}
.P5_10{padding:5px 10px !important;}
.P5_15{padding:5px 15px !important;}
.P5_20{padding:5px 20px !important;}

.P10_0{padding:10px 0 !important;}
.P10_5{padding:10px 5px !important;}
.P10_15{padding:10px 15px !important;}
.P10_20{padding:10px 20px !important;}

.P15_0{padding:15px 0 !important;}
.P15_5{padding:15px 5px !important;}
.P15_10{padding:15px 10px !important;}
.P15_20{padding:15px 20px !important;}

.P20_0{padding:20px 0 !important;}
.P20_5{padding:20px 5px !important;}
.P20_10{padding:20px 10px !important;}
.P20_15{padding:20px 15px !important;}
.P25_0{padding:25px 0 !important;}

.P30_0{padding:30px 0 !important;}

.PT0{padding-top:0px !important;}
.PT1{padding-top:1px !important;}
.PT2{padding-top:2px !important;}
.PT3{padding-top:3px !important;}
.PT4{padding-top:4px !important;}
.PT5{padding-top:5px !important;}
.PT6{padding-top:6px !important;}
.PT7{padding-top:7px !important;}
.PT8{padding-top:8px !important;}
.PT9{padding-top:9px !important;}
.PT10{padding-top:10px !important;}
.PT11{padding-top:11px !important;}
.PT12{padding-top:12px !important;}
.PT13{padding-top:13px !important;}
.PT14{padding-top:14px !important;}
.PT15{padding-top:15px !important;}
.PT16{padding-top:16px !important;}
.PT17{padding-top:17px !important;}
.PT18{padding-top:18px !important;}
.PT19{padding-top:19px !important;}
.PT20{padding-top:20px !important;}
.PT21{padding-top:21px !important;}
.PT22{padding-top:22px !important;}
.PT23{padding-top:23px !important;}
.PT24{padding-top:24px !important;}
.PT25{padding-top:25px !important;}
.PT26{padding-top:26px !important;}
.PT27{padding-top:27px !important;}
.PT28{padding-top:28px !important;}
.PT29{padding-top:29px !important;}
.PT30{padding-top:30px !important;}
.PT31{padding-top:31px !important;}
.PT32{padding-top:32px !important;}
.PT33{padding-top:33px !important;}
.PT34{padding-top:34px !important;}
.PT35{padding-top:35px !important;}
.PT36{padding-top:36px !important;}
.PT37{padding-top:37px !important;}
.PT38{padding-top:38px !important;}
.PT39{padding-top:39px !important;}
.PT40{padding-top:40px !important;}
.PT45{padding-top:45px !important;}
.PT50{padding-top:50px !important;}
.PT55{padding-top:55px !important;}
.PT60{padding-top:60px !important;}
.PTex{padding-top:65px;}

.PR0{padding-right:0px !important;}
.PR1{padding-right:1px !important;}
.PR2{padding-right:2px !important;}
.PR3{padding-right:3px !important;}
.PR4{padding-right:4px !important;}
.PR5{padding-right:5px !important;}
.PR6{padding-right:6px !important;}
.PR7{padding-right:7px !important;}
.PR8{padding-right:8px !important;}
.PR9{padding-right:9px !important;}
.PR10{padding-right:10px !important;}
.PR11{padding-right:11px !important;}
.PR12{padding-right:12px !important;}
.PR13{padding-right:13px !important;}
.PR14{padding-right:14px !important;}
.PR15{padding-right:15px !important;}
.PR16{padding-right:16px !important;}
.PR17{padding-right:17px !important;}
.PR18{padding-right:18px !important;}
.PR19{padding-right:19px !important;}
.PR20{padding-right:20px !important;}
.PR21{padding-right:21px !important;}
.PR22{padding-right:22px !important;}
.PR23{padding-right:23px !important;}
.PR24{padding-right:24px !important;}
.PR25{padding-right:25px !important;}
.PR26{padding-right:26px !important;}
.PR27{padding-right:27px !important;}
.PR28{padding-right:28px !important;}
.PR29{padding-right:29px !important;}
.PR30{padding-right:30px !important;}
.PR31{padding-right:31px !important;}
.PR32{padding-right:32px !important;}
.PR33{padding-right:33px !important;}
.PR34{padding-right:34px !important;}
.PR35{padding-right:35px !important;}
.PR36{padding-right:36px !important;}
.PR37{padding-right:37px !important;}
.PR38{padding-right:38px !important;}
.PR39{padding-right:39px !important;}
.PR40{padding-right:40px !important;}
.PR45{padding-right:45px !important;}
.PR50{padding-right:50px !important;}
.PR55{padding-right:55px !important;}
.PR60{padding-right:60px !important;}
.PRex{padding-right:65px;}

.PB0{padding-bottom:0px !important;}
.PB1{padding-bottom:1px !important;}
.PB2{padding-bottom:2px !important;}
.PB3{padding-bottom:3px !important;}
.PB4{padding-bottom:4px !important;}
.PB5{padding-bottom:5px !important;}
.PB6{padding-bottom:6px !important;}
.PB7{padding-bottom:7px !important;}
.PB8{padding-bottom:8px !important;}
.PB9{padding-bottom:9px !important;}
.PB10{padding-bottom:10px !important;}
.PB11{padding-bottom:11px !important;}
.PB12{padding-bottom:12px !important;}
.PB13{padding-bottom:13px !important;}
.PB14{padding-bottom:14px !important;}
.PB15{padding-bottom:15px !important;}
.PB16{padding-bottom:16px !important;}
.PB17{padding-bottom:17px !important;}
.PB18{padding-bottom:18px !important;}
.PB19{padding-bottom:19px !important;}
.PB20{padding-bottom:20px !important;}
.PB21{padding-bottom:21px !important;}
.PB22{padding-bottom:22px !important;}
.PB23{padding-bottom:23px !important;}
.PB24{padding-bottom:24px !important;}
.PB25{padding-bottom:25px !important;}
.PB26{padding-bottom:26px !important;}
.PB27{padding-bottom:27px !important;}
.PB28{padding-bottom:28px !important;}
.PB29{padding-bottom:29px !important;}
.PB30{padding-bottom:30px !important;}
.PB31{padding-bottom:31px !important;}
.PB32{padding-bottom:32px !important;}
.PB33{padding-bottom:33px !important;}
.PB34{padding-bottom:34px !important;}
.PB35{padding-bottom:35px !important;}
.PB36{padding-bottom:36px !important;}
.PB37{padding-bottom:37px !important;}
.PB38{padding-bottom:38px !important;}
.PB39{padding-bottom:39px !important;}
.PB40{padding-bottom:40px !important;}
.PB45{padding-bottom:45px !important;}
.PB50{padding-bottom:50px !important;}
.PB55{padding-bottom:55px !important;}
.PB60{padding-bottom:60px !important;}
.PBex{padding-bottom:65px;}

.PL0{padding-left:0px !important;}
.PL1{padding-left:1px !important;}
.PL2{padding-left:2px !important;}
.PL3{padding-left:3px !important;}
.PL4{padding-left:4px !important;}
.PL5{padding-left:5px !important;}
.PL6{padding-left:6px !important;}
.PL7{padding-left:7px !important;}
.PL8{padding-left:8px !important;}
.PL9{padding-left:9px !important;}
.PL10{padding-left:10px !important;}
.PL11{padding-left:11px !important;}
.PL12{padding-left:12px !important;}
.PL13{padding-left:13px !important;}
.PL14{padding-left:14px !important;}
.PL15{padding-left:15px !important;}
.PL16{padding-left:16px !important;}
.PL17{padding-left:17px !important;}
.PL18{padding-left:18px !important;}
.PL19{padding-left:19px !important;}
.PL20{padding-left:20px !important;}
.PL21{padding-left:21px !important;}
.PL22{padding-left:22px !important;}
.PL23{padding-left:23px !important;}
.PL24{padding-left:24px !important;}
.PL25{padding-left:25px !important;}
.PL26{padding-left:26px !important;}
.PL27{padding-left:27px !important;}
.PL28{padding-left:28px !important;}
.PL29{padding-left:29px !important;}
.PL30{padding-left:30px !important;}
.PL31{padding-left:31px !important;}
.PL32{padding-left:32px !important;}
.PL33{padding-left:33px !important;}
.PL34{padding-left:34px !important;}
.PL35{padding-left:35px !important;}
.PL36{padding-left:36px !important;}
.PL37{padding-left:37px !important;}
.PL38{padding-left:38px !important;}
.PL39{padding-left:39px !important;}
.PL40{padding-left:40px !important;}
.PL45{padding-left:45px !important;}
.PL50{padding-left:50px !important;}
.PL55{padding-left:55px !important;}
.PL60{padding-left:60px !important;}
.PLex{padding-left:65px;}

.disI{display:inline !important;}
.disB{display:block !important;}
.disIB{display:inline-block !important;}
.disT{display:table !important;}
.disTR{display:table-row !important;}
.disTC{display:table-cell !important;}
.disN{display:none !important;}

.taL{text-align:left !important;}
.taR{text-align:right !important;}
.taC{text-align:center !important;}

.vaT{vertical-align:top !important;}
.vaM{vertical-align:middle !important;}
.vaB{vertical-align:bottom !important;}
.vaBL{vertical-align:baseline !important;}

.fz10{font-size:10px !important;}
.fz11{font-size:11px !important;}
.fz12{font-size:12px !important;}
.fz13{font-size:13px !important;}
.fz14{font-size:14px !important;}
.fz15{font-size:15px !important;}
.fz16{font-size:16px !important;}
.fz17{font-size:17px !important;}
.fz18{font-size:18px !important;}
.fz19{font-size:19px !important;}
.fz20{font-size:20px !important;}
.fz21{font-size:21px !important;}
.fz22{font-size:22px !important;}
.fz23{font-size:23px !important;}
.fz24{font-size:24px !important;}
.fz25{font-size:25px !important;}
.fz26{font-size:26px !important;}

.fsN{font-style:normal !important;}
.fsI{font-style:italic !important;}
.fwN{font-weight:normal !important;}
.fwB{font-weight:bold !important;}

.tblLoF{table-layout:fixed;}

.red{color:#f00;}
.lBlue{color:#3366ff;}

.lh8{line-height:80% !important;}
.lh9{line-height:90% !important;}
.lh10{line-height:100% !important;}
.lh11{line-height:110% !important;}
.lh12{line-height:120% !important;}
.lh13{line-height:130% !important;}
.lh14{line-height:140% !important;}
.lh15{line-height:150% !important;}
.lh16{line-height:160% !important;}
.lh17{line-height:170% !important;}
.lh18{line-height:180% !important;}
.lh19{line-height:190% !important;}
.lh20{line-height:200% !important;}

.fltL{float:left !important;}
.fltR{float:right !important;}
.fltN{float:none !important;}

.posS{position:static !important;}
.posR{position:relative !important;}
.posA{position:absolute !important;}
.posF{position:fixed !important;}
*[class*="abs"]{
	display:block;
	position:absolute;
}
.posC{
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.ofA{overflow:auto;}
.ofH{overflow:hidden;}
.ofS{overflow:scroll;}
.ofV{overflow:visible;}

.BSD{border:solid 1px;}
.BDT{border:dotted 1px;}
.BDS{border:dashed 1px;}
.BDN{border:none !important;}

.bdRds5{border-radius:5px;}
.bdRdsT5{border-radius:5px 5px 0 0;}
.bdRdsB5{border-radius:0 0 5px 5px;}
.bdRdsL5{border-radius:5px 0 0 5px;}
.bdRdsR5{border-radius:0 5px 5px 0;}
.bdRds8{border-radius:8px;}
.bdRdsT8{border-radius:8px 8px 0 0;}
.bdRdsB8{border-radius:0 0 8px 8px;}
.bdRdsL8{border-radius:8px 0 0 8px;}
.bdRdsR8{border-radius:0 8px 8px 0;}
.bdRds10{border-radius:10px;}
.bdRdsT10{border-radius:10px 10px 0 0;}
.bdRdsB10{border-radius:0 0 10px 10px;}
.bdRdsL10{border-radius:10px 0 0 10px;}
.bdRdsR10{border-radius:0 10px 10px 0;}

.brWord{word-wrap:break-word;}
.whtSpcNW{white-space: nowrap;}

/*print用*/
.printDown{display:none;}
.printBreak{display:none;}

/*resposive用*/
.pcBrows{}
.spDevice{display:none;}

/*js用*/
.hover, .ovr{}
