@charset "UTF-8";

body{
	font-family: Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
em{
	font-style: normal;
}
a{
	color: #fff;
	text-decoration: none;
}

a#fixed-corner{
	background: url("../img/bookmark-notice.png") no-repeat 0 0;
	background-size: cover;
	display: block;
	height: calc(260px / 3);
	overflow: hidden;
	position: fixed;
	right: 0;
	text-indent: 100%;
	top: 0;
	white-space: nowrap;
	width: calc(260px / 3);
}
body.modal-open{
	overflow: hidden;
}
body>header{
	color: #fff;
}
body>header>h1{
	background: url("../img/header-14days-logo.png") no-repeat 50% 50%, #154734 url("../img/header-bg.png") no-repeat 50% 50%;
	background-size: 197px 117.3px, 100% 100%;
	height: 157px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
body>header>h1:before{
	background: url("../img/header-logo.png") no-repeat 0 0;
	background-size: contain;
	content: "";
	display: block;
	height: 31px;
	left: 14px;
	position: absolute;
	top: 12px;
	width: calc(138px / 3);
}
body>#main>dl#your-course{
	background: #00966c;
	display: flex;
	flex-direction: row;
	height: 74px;
	justify-content: center;
	text-align: center;
}
body>#main>dl#your-course>dt{
	background: #fff;
	border-radius: 23px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #00966c;
	font-size: 10px;
	font-weight: bold;
	height: 46px;
	margin-right: 12px;
	margin-top: 14px;
	position: relative;
	text-align: center;
	width: 90px;
}
body>#main>dl#your-course>dt>span{
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	white-space: nowrap;
}
body>#main>dl#your-course>dd{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: .1em;
	line-height: 43px;
	margin-top: 17px;
}
body>#main>dl#your-course>dd>em{
	font-size: 43px;
	line-height: 43px;
	margin-right: .1em;
	vertical-align: baseline;
}
body>#main>nav{
	background: #154734;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: 64px;
	padding-top: 13px;
}
body>#main>nav>ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 16px);
}
body>#main>nav>ul>li{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 5px;
	width: calc(100% / 3);
}
body>#main>nav>ul>li>a{
	border: 1px solid #fff;
	border-radius: 17px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: .1em;
	height: 34px;
	line-height: 34px;
	text-align: center;
}
#day-indicator{
	background: #ededed;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
}
#day-indicator>ul{
	display: flex;
	flex-direction: row;
	overflow: hidden;
	position: relative;
	width: calc((100vw / 5) * 14);
}
#day-indicator>ul>li{
	border-left: 1px solid #aaa;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 80px;
	position: relative;
	width: 25vw;
}
#day-indicator>ul>li.on{
	background: #d8d8d8;
}
#day-indicator>ul>li.on:after{
	content: "";
	display: block;
	height: 10px;
	width: 10px;
	background: #154734;
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: rotate(45deg) translate(-50%, -50%);
	-moz-transform: rotate(45deg) translate(-50%, -50%);
	-ms-transform: rotate(45deg) translate(-50%, -50%);
	-o-transform: rotate(45deg) translate(-50%, -50%);
	transform: rotate(45deg) translate(-50%, -50%);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}
#day-indicator>ul>li:first-child{
	border-left: none;
}
#day-indicator>ul>li>div{
	color: #acacac;
	display: block;
	font-size: 12px;
	left: 50%;
	letter-spacing: .1em;
	line-height: 1;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}
#day-indicator>ul>li.done>div{
	color: #154734;
}
#day-indicator>ul>li.today>div{
	color: #00966c;
}
#day-indicator>ul>li>div>em{
	display: block;
	font-size: 37px;
	font-weight: bold;
	text-align: center;
}
#menu{

}
#menu>ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
#menu>ul>li{
	border-bottom: 1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 164px;
	position: relative;
	width: calc((100% - 1px) / 2);
}
#menu>ul>li#menu-food{
	background: #d7bc4f url("../img/menu-food-bg.png") no-repeat 50% 22px;
	background-size: 79px 79px;
}
#menu>ul>li#menu-yogurt{
	background: #88c255 url("../img/menu-yogurt-bg.png") no-repeat 50% 22px;
	background-size: 79px 79px;
}
#menu>ul>li#menu-exercise{
	background: #4f9fc5 url("../img/menu-exercise-bg.png") no-repeat 50% 22px;
	background-size: 79px 79px;
}
#menu>ul>li#menu-jikkan{
	background: #ce7fb3 url("../img/menu-jikkan-bg.png") no-repeat 50% 22px;
	background-size: 79px 79px;
}
#menu>ul>li#menu-bowel{
	background: #9d9d9d;
	border-bottom: none;
	height: 77px;
	line-height: 77px;
	width: 100%;
}
#menu>ul>li:after{
	background: url("../img/icon-checked.png") no-repeat 0 0;
	background-size: contain;
	content: "";
	display: block;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 13px;
	-webkit-transform: scale(0) rotate(270deg);
	-moz-transform: scale(0) rotate(270deg);
	-ms-transform: scale(0) rotate(270deg);
	-o-transform: scale(0) rotate(270deg);
	transform: scale(0) rotate(270deg);
	-webkit-transition: transform .3s;
	-moz-transition: transform .3s;
	-ms-transition: transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
	width: 30px;
}
#menu>ul>li.done:after{
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}
#menu>ul>li#menu-bowel.done:after{
	display: none;
	/*
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	*/
}
#menu>ul>li>a{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: 163px;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: .2em;
	overflow: hidden;
	padding-top: 111px;
	position: relative;
	text-align: center;
}
#menu>ul>li#menu-bowel>a{
	height: 77px;
	padding-top: 0;
}
#menu>ul>li#menu-bowel>a:before{
	background: url("../img/menu-bowel-bg.png") no-repeat 50% 50%;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 20px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
	width: 34px;
}
#menu>ul>li>a:after{
	background: #154734;
	bottom: 0;
	content: "";
	display: block;
	height: 20px;
	left: 100%;
	position: absolute;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: -50% 20%;
	-moz-transform-origin: -50% 20%;
	-ms-transform-origin: -50% 20%;
	-o-transform-origin: -50% 20%;
	transform-origin: -50% 20%;
	width: 20px;
}
#menu>ul>li>a>em{
	display: block;
	font-size: 20px;
	font-weight: bold;
}
#menu>ul>li#menu-bowel>a>em{
	display: inline;
}
#action{
	background: url("../img/action-area-bg.png") no-repeat 50% 25px;
	background-size: 18.6px 20.3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 225px;
	padding-top: 62px;
}
#action>a{
	border: 2px solid #154734;
	color: #154734;
	display: block;
	font-weight: bold;
	margin: 0 calc(80px / 3) 17px calc(80px / 3);
	position: relative;
	text-align: center;
}
#action>a:before{
	content: "";
	display: inline-block;
	margin-right: 5px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
	vertical-align: middle;
}
#action>a#btn-log-today{
	border-radius: 32px;
	font-size: 17px;
	height: 64px;
	line-height: 64px;
}
#action>a#btn-log-today:before{
	background: url("../img/icon-btn-log-today.png") no-repeat 0 0;
	background-size: contain;
	height: 21px;
	width: 21px;
}
#action>a#btn-log-all{
	border-radius: 22px;
	font-size: 14px;
	height: 44px;
	line-height: 44px;
}
#action>a#btn-log-all:before{
	background: url("../img/icon-btn-log-all.png") no-repeat 0 0;
	background-size: contain;
	height: calc(35px / 3);
	width: calc(50px / 3);
}
#banner{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#banner>ul>li>a{
	display: block;
}
#banner>ul>li>a>img{
	vertical-align: top;
	width: 100%;
}

#result{
	border-bottom: 1px solid #aaa;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	padding: 0 14px 14px 14px;
}
#result>h2{
	background: #00966c;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
	margin: 0 -14px 20px -14px;
	padding: 18px 0;
	text-align: center;
}
#result>h2:before{
	background: url("../img/icon-check-ball.png") no-repeat 50% 50%;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 20px;
	margin-right: 5px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
	vertical-align: middle;
	width: 20px;
}
#result>p.balloon{
	border: 1px solid #154734;
	color: #154734;
	font-size: 10px;
	letter-spacing: .1em;
	margin-bottom: 16px;
	padding: 5px 0;
	position: relative;
	text-align: center;
}
#result>p.balloon:after{
	background: url("../img/result-balloon-triangle.png") no-repeat 0 0;
	background-size: contain;
	bottom: 0;
	content: "";
	height: 8px;
	left: 50%;
	-webkit-transform: translate(-50%, 8px);
	-moz-transform: translate(-50%, 8px);
	-ms-transform: translate(-50%, 8px);
	-o-transform: translate(-50%, 8px);
	position: absolute;
	transform: translate(-50%, 8px);
	width: 9px;
}
#result>#result-unit-container{
	position: relative;
}
#result>#result-unit-container>.result-unit-original{
	display: none;
}
#result>#result-unit-container>.result-unit{
	display: block;
	margin-bottom: 25px;
}
#result>#result-unit-container>.result-unit>h3{
	color: #154734;
	font-size: 18px;
	letter-spacing: .1em;
	margin-bottom: 15px;
	text-align: center;
}
#result>#result-unit-container>.result-unit>table{
	border-collapse: collapse;
	width: 100%;
}
#result>#result-unit-container>.result-unit>table>thead{
}
#result>#result-unit-container>.result-unit>table>thead>tr{
}
#result>#result-unit-container>.result-unit>table>thead>tr>th{
	background: #d8d8d8;
	border: 1px solid #aaa;
	color: #737373;
	font-size: 11px;
	font-weight: bold;
	height: 35px;
	letter-spacing: .1em;
	text-align: center;
}
#result>#result-unit-container>.result-unit>table>tbody{
}
#result>#result-unit-container>.result-unit>table>tbody>tr{
}
#result>#result-unit-container>.result-unit>table>tbody>tr.original{
	display: none;
}
#result>#result-unit-container>.result-unit>table>tbody>tr>td{
	border: 1px solid #aaa;
	height: 40px;
	position: relative;
	text-align: center;
}
#result>#result-unit-container>.result-unit>table>tbody>tr>td.cell-day>a{
	color: #154734;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}
#result>#result-unit-container>.result-unit>table>tbody>tr>td.cell-check.status-0{
	background: #ffffff url("../img/icon-clover-0.png") no-repeat 50% 50%;
	background-size: 21.5px 28px;
}
#result>#result-unit-container>.result-unit>table>tbody>tr>td.cell-check.status-1{
	background: #fcfddc url("../img/icon-clover-1.png") no-repeat 50% 50%;
	background-size: 21.5px 28px;
}
#result>#result-unit-container>.result-unit>table>tbody>tr>td.cell-check.status-2{
	background: #ecfddc url("../img/icon-clover-2.png") no-repeat 50% 50%;
	background-size: 21.5px 28px;
}
#result>#result-unit-container>.result-unit>table>tbody>tr>td.cell-check.status-3{
	background: #e1fbe6 url("../img/icon-clover-3.png") no-repeat 50% 50%;
	background-size: 21.5px 28px;
}
#result>#result-unit-container>.result-unit>table>tbody>tr>td.cell-check.status-4{
	background: #e2f6f0 url("../img/icon-clover-4.png") no-repeat 50% 50%;
	background-size: 21.5px 28px;
}
#result>#result-unit-container>.result-unit>table>tbody>tr>td.cell-bowel.checked:before{
	background: url("../img/icon-check.png") no-repeat 50% 50%;
	background-size: contain;
	content: "";
	display: block;
	height: 17px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 17px;
}
#result>#result-unit-container>.result-unit>table>tbody>tr>td.cell-edit>a{
	background: url("../img/icon-pencil-gray.png") no-repeat 50% 50%;
	background-size: 20px 20px;
	display: block;
	height: 100%;
	width: 100%;
}

#result a.btn-top{
	border: 2px solid #154734;
	border-radius: 21px;
	color: #154734;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 42px;
	letter-spacing: .1em;
	line-height: 42px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(100% - 20px);
	text-align: center;
	width: 360px;
}

#about{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 24px 13px 13px 13px;
}
#about>h2{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 12px;
	text-align: center;
}
#about>p{
	font-size: 10px;
	line-height: 1.8;
}
body>footer{
	background: #ededed;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #154734;
	font-size: 10px;
	height: 66px;
	padding: 0 0 0 93px;
	position: relative;
}
body>footer>a.logo{
	background: url("../img/footer-logo.png") no-repeat 0 0;
	background-size: contain;
	display: block;
	height: calc(53px / 3);
	left: 34px;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: calc(122px / 3);
	white-space: nowrap;
}
body>footer>ul{
	overflow: hidden;
	padding-top: 20px;
	position: relative;
}
body>footer>ul>li{
	float: left;
}
body>footer>ul>li>a{
	border-left: 1px solid #154734;
	color: #154734;
	display: inline-block;
	line-height: 1;
	padding-right: 0.5em;
	padding-left: 0.5em;
}
body>footer>ul>li:first-child>a{
	border-left: none;
	padding-left: 0;
}
body>footer>p.copyright{
	margin-top: 5px;
}

#modal{
	background: rgba(0,0,0,0.8);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	top: 0;
	padding: 13px;
	position: fixed;
	width: 100%;
	z-index: 10;
}
#modal>section,
#modal>div{
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-ms-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}
#modal>section.visible,
#modal>div.visible{
	opacity: 1;
}
#modal>section.height-short,
#modal>div.height-short{
	left: 13px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: calc(100% - 26px);
}
#modal>section.height-compact,
#modal>div.height-compact{
	/*height: 316px;*/
	left: 13px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: calc(100% - 26px);
}

#modal a.btn-about{
	border: 2px solid #154734;
	border-radius: 21px;
	color: #154734;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 42px;
	line-height: 42px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(100% - 20px);
	text-align: center;
	width: 360px;
}
#modal a.btn-close{
	background: #9d9d9d;
	border-radius: 19.5px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 39px;
	line-height: 39px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 175px;
}
#modal a.btn-close:after{
	content: "";
	background: url("../img/icon-cross.png") no-repeat 0 0;
	background-size: contain;
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	vertical-align: middle;
	width: 10px;
}

#modal.modal-start>#modal-start,
#modal.modal-howto>#modal-howto,
#modal.modal-todayscheck>#modal-todayscheck,
#modal.modal-food>#modal-food,
#modal.modal-exercise>#modal-exercise,
#modal.modal-jikkan>#modal-jikkan,
#modal.modal-yogurt>#modal-yogurt,
#modal.modal-bowel>#modal-bowel,
#modal.modal-advice-food>#modal-advice-food,
#modal.modal-advice-exercise>#modal-advice-exercise,
#modal.modal-about>#modal-about,
#modal.modal-aboutsite>#modal-aboutsite{
	display: block;
}
#modal>#modal-start{
	background: #154734;
	color: #fff;
	font-size: 10px;
	line-height: 1.8;
	padding: 26px;
}
#modal-start>h2{
	background: url("../img/modal-start-logo.png") no-repeat 50% 50%;
	background-size: contain;
	height: calc(339px / 3);
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: calc(539px / 3);
}
#modal-start>p{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
#modal-start>p.notice{
	border: 1px solid #fff;
	margin-bottom: 20px;
	padding: 10px 10px;
	text-align: center;
	font-size: 12px;
}
#modal-start>h3{
	font-size: 12px;
	margin-bottom: 12px;
	text-align: center;
}
#modal-start>h4{
	background: #decb70;
	color: #154734;
	font-size: 11px;
	font-weight: normal;
	line-height: 1.6;
	text-align: center;
}
#modal-start hr{
	border: none;
	height: 1px;
	margin: 15px 0;
	background: #fff;
}
#modal-start button{
	display: block;
	background: url("../img/modal-start-btn.png") no-repeat 0 0;
	background-size: contain;
	border: none;
	height: 60px;
	margin: 0 auto;
	max-width: 100%;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: calc(980px /3);
}
#modal-howto{
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}
#modal-howto img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#modal-howto h2{
	margin: 0;
	text-align: center;
}
#modal-howto ol{
	margin: 0;
	padding: 0;
}
#modal-howto ol>li{
	list-style: none;
	text-align: center;
}
#modal-howto p{
	margin-bottom: 30px;
	text-align: center;
}
#modal-howto>.txt{
	padding: 0 14px 14px 14px;
}
#modal-howto>.txt>h3{
	border-top: 1px solid #aaa;
	color: #154734;
	font-size: 15px;
	letter-spacing: .1em;
	margin: 17px 0 0 0;
	padding: 17px 0;
	text-align: center;
}
#modal-howto>.txt>p{
	color: #154734;
	font-size: 12px;
	margin-bottom: 17px;
	text-align: left;
}


#modal-todayscheck{
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 14px;
}
#modal-todayscheck>h2{
	color: #154734;
	font-size: 18px;
	font-weight: bold;
	height: 22px;
	line-height: 22px;
	margin-bottom: 22px;
	text-align: center;
}
#modal-todayscheck>h2:before{
	background: url("../img/icon-btn-log-today.png") no-repeat 50% 50%;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 22px;
	margin-right: 5px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
	vertical-align: middle;
	width: 22px;
}
#modal-todayscheck>table{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-collapse: collapse;
	margin-bottom: 25px;
	width: 100%;
}
#modal-todayscheck>table th,
#modal-todayscheck>table td{
	border-collapse: collapse;
}
#modal-todayscheck>table>tbody>tr{

}
#modal-todayscheck>table>tbody>tr>th,
#modal-todayscheck>table>tbody>tr>td{
	border: 1px solid #aaa;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
#modal-todayscheck>table>tbody>tr.menus>th,
#modal-todayscheck>table>tbody>tr.menus>td{
	height: 46px;
	width: 20%;
}
#modal-todayscheck>table>tbody>tr.menus>th{
	color: #fff;
	font-size: 9px;
	font-weight: bold;
}
#modal-todayscheck>table>tbody>tr.menus>th.food{
	background-color: #decb70;
}
#modal-todayscheck>table>tbody>tr.menus>th.yogurt{
	background-color: #88c255;
}
#modal-todayscheck>table>tbody>tr.menus>th.exercise{
	background-color: #4f9fc5;
}
#modal-todayscheck>table>tbody>tr.menus>th.jikkan{
	background-color: #ce7fb3;
}
#modal-todayscheck>table>tbody>tr.menus>th.bowel{
	background-color: #9d9d9d;
}
#modal-todayscheck>table>tbody>tr.menus>td.checked{
	background: url("../img/icon-check.png") no-repeat 50% 50%;
	background-size: 14px 14px;
}
#modal-todayscheck>table>tbody>tr.complete>th{
	background-color: #e9e9e9;
	color: #737373;
	font-size: 12px;
	font-weight: bold;
	height: 46px;
}
#modal-todayscheck>table>tbody>tr.complete>td{
	height: 96px;
}
#modal-todayscheck>table>tbody>tr.complete>td{
}
#modal-todayscheck>table>tbody>tr.complete>td>dl{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: none;
	margin: 0 auto;
	min-height: 56px;
	overflow: hidden;
	padding-left: 70px;
	position: relative;
	width: 280px;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.show{
	display: block;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-0{
	background: url("../img/icon-clover-0.png") no-repeat 10px 0;
	background-size: 43px 56px;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-1{
	background: url("../img/icon-clover-1.png") no-repeat 10px 0;
	background-size: 43px 56px;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-2{
	background: url("../img/icon-clover-2.png") no-repeat 10px 0;
	background-size: 43px 56px;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-3{
	background: url("../img/icon-clover-3.png") no-repeat 10px 0;
	background-size: 43px 56px;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-4{
	background: url("../img/icon-clover-4.png") no-repeat 10px 0;
	background-size: 43px 56px;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl>dt{
	border: 2px solid #47b35b;
	border-radius: 10px;
	color: #47b35b;
	float: left;
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 2px 16px;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-0>dt{
	border-color: #c4c4c4;
	color: #c4c4c4;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-1>dt{
	border-color: #c6bd5c;
	color: #c6bd5c;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-2>dt{
	border-color: #80bc4a;
	color: #80bc4a;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-3>dt{
	border-color: #47b35b;
	color: #47b35b;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-4>dt{
	border-color: #00966c;
	color: #00966c;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl>dt>em{
	font-size: 16px;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl>dd{
	clear: both;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-0>dd{
	color: #c4c4c4;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-1>dd{
	color: #c6bd5c;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-2>dd{
	color: #80bc4a;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-3>dd{
	color: #47b35b;
}
#modal-todayscheck>table>tbody>tr.complete>td>dl.status-4>dd{
	color: #00966c;
}

.modal-checksheet{
	background: #fff;
	padding-bottom: 30px;
}
.modal-checksheet>h2{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	font-size: 15px;
	font-weight: normal;
	height: 100px;
	line-height: 1.2;
	letter-spacing: .1em;
	padding-top: 33px;
	text-align: center;
}
.modal-checksheet#modal-exercise>h2{
	padding-top: 15px;
}
.modal-checksheet>h2>em{
	display: block;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.modal-checksheet>h2>em:before{
	background: url("../img/icon-pencil.png") no-repeat 0 0;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 21px;
	margin-right: 5px;
	width: 21px;
}
.modal-checksheet>.checksheet{
	padding: 13px;
}
.modal-checksheet>.checksheet>.fit-height{
	border: 2px solid #154734;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto;
	position: relative;
}
.modal-checksheet#modal-jikkan>.checksheet>.fit-height{
	height: 218px !important;
	overflow-y: hidden;
}
.modal-checksheet input[type="checkbox"],
.modal-checksheet input[type="radio"]{
	display: none;
}
.modal-checksheet input[type="checkbox"]~label,
.modal-checksheet input[type="radio"]~label{
	position: relative;
}
.modal-checksheet input[type="checkbox"]~label:after,
.modal-checksheet input[type="radio"]~label:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 2px solid #bebebe;
	box-sizing: border-box;
	content: "";
	display: block;
	height: 28px;
	line-height: 22px;
	text-align: center;
	width: 28px;
}
.modal-checksheet input[type="checkbox"]:checked~label:after,
.modal-checksheet input[type="radio"]:checked~label:after{
	color: #fb505c;
	content: "\f00c";
	font-family: FontAwesome;
}
.modal-checksheet>.checksheet>ul>li>label{
	border-top: 1px solid #aaa;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: 53px;
	position: relative;
}
.modal-checksheet#modal-food>.checksheet>ul>li>label,
.modal-checksheet#modal-exercise>.checksheet>ul>li>label{
	display: none;
}
.modal-checksheet>.checksheet>ul>li:first-child>label{
	border-top: none;
}
.cs-a0 .modal-checksheet#modal-food>.checksheet>ul>li>label.course-a0,
.cs-a1 .modal-checksheet#modal-food>.checksheet>ul>li>label.course-a1,
.cs-a2 .modal-checksheet#modal-food>.checksheet>ul>li>label.course-a2,
.cs-b0 .modal-checksheet#modal-food>.checksheet>ul>li>label.course-b0,
.cs-b1 .modal-checksheet#modal-food>.checksheet>ul>li>label.course-b1,
.cs-b2 .modal-checksheet#modal-food>.checksheet>ul>li>label.course-b2,
.cs-c0 .modal-checksheet#modal-food>.checksheet>ul>li>label.course-c0,
.cs-c1 .modal-checksheet#modal-food>.checksheet>ul>li>label.course-c1,
.cs-c2 .modal-checksheet#modal-food>.checksheet>ul>li>label.course-c2{
	display: block;
}
.cs-a0 .modal-checksheet#modal-exercise>.checksheet>ul>li>label.lv-0,
.cs-b0 .modal-checksheet#modal-exercise>.checksheet>ul>li>label.lv-0,
.cs-c0 .modal-checksheet#modal-exercise>.checksheet>ul>li>label.lv-0,
.cs-a1 .modal-checksheet#modal-exercise>.checksheet>ul>li>label.lv-1,
.cs-b1 .modal-checksheet#modal-exercise>.checksheet>ul>li>label.lv-1,
.cs-c1 .modal-checksheet#modal-exercise>.checksheet>ul>li>label.lv-1,
.cs-a2 .modal-checksheet#modal-exercise>.checksheet>ul>li>label.lv-2,
.cs-b2 .modal-checksheet#modal-exercise>.checksheet>ul>li>label.lv-2,
.cs-c2 .modal-checksheet#modal-exercise>.checksheet>ul>li>label.lv-2{
	display: block;
}

.modal-checksheet>.checksheet>ul>li>input[type="checkbox"]~label:after,
.modal-checksheet>.checksheet>ul>li>input[type="radio"]~label:after{
	position: absolute;
	right: 12px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.modal-checksheet>.checksheet>ul>li>label>span{
	color: #154734;
	display: block;
	font-size: 14px;
	font-weight: bold;
	left: 11px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: calc(100% - 60px);
}
.modal-checksheet>.notice{
	color: #154734;
	font-size: 14px;
	font-weight: bold;
	margin: 17px 0 25px 0;
	text-align: center;
}
.modal-checksheet>.notice:after{
	background: url("../img/icon-hand.png") no-repeat 0 0;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 23px;
	margin-left: 5px;
	vertical-align: bottom;
	width: 17px;
}

.modal-checksheet#modal-food>h2{
	background: #d7bc4f;
}
.modal-checksheet#modal-exercise>h2{
	background: #4f9fc5;
}
.modal-checksheet#modal-jikkan>h2{
	background: #ce7fb3;
}
.modal-checksheet#modal-yogurt>h2{
	background: #88c255;
}
.modal-checksheet#modal-bowel>h2{
	background: #9d9d9d;
}
.modal-checksheet#modal-yogurt>.checksheet>.fit-height:before{
	background: url("../img/modal-yogurt-photo.png") no-repeat 50% 50%;
	background-size: cover;
	content: "";
	display: block;
	height: 56%;
	margin-bottom: 20px;
	width: 100%;
}
.modal-checksheet#modal-yogurt>.checksheet>.fit-height{
	color: #154734;
	font-weight: bold;
	text-align: center;
}
.modal-checksheet#modal-yogurt>.checksheet>.fit-height>p{
	font-size: 16px;
}
.modal-checksheet#modal-yogurt>.checksheet>.fit-height>p.note{
	font-size: 12px;
}
.modal-checksheet#modal-yogurt>.checksheet>.fit-height>ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 15px;
}
.modal-checksheet#modal-yogurt>.checksheet>.fit-height>ul>li{
	margin: 0 6px;
}
.modal-checksheet#modal-yogurt>.checksheet>.fit-height label{
	display: block;
	width: 28px;
	height: 28px;
}
.modal-checksheet#modal-bowel>.checksheet>.fit-height:before{
	background: url("../img/modal-bowel-photo.jpg") no-repeat 50% 50%;
	background-size: cover;
	content: "";
	display: block;
	height: 56%;
	margin-bottom: 20px;
	width: 100%;
}
.modal-checksheet#modal-bowel>.checksheet>.fit-height{
	color: #154734;
	font-weight: bold;
	text-align: center;
}
.modal-checksheet#modal-bowel>.checksheet>.fit-height>p{
	font-size: 16px;
}
.modal-checksheet#modal-bowel>.checksheet>.fit-height>p.note{
	font-size: 12px;
}
.modal-checksheet#modal-bowel>.checksheet>.fit-height>ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 15px;
}
.modal-checksheet#modal-bowel>.checksheet>.fit-height>ul>li{
	margin: 0 6px;
}
.modal-checksheet#modal-bowel>.checksheet>.fit-height label{
	display: block;
	line-height: 2;
	padding-bottom: 0px;
	width: auto;
}

#modal>#modal-advice-food,
#modal>#modal-advice-exercise{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: 70px;
}
#modal>#modal-advice-food{
	background: #fffcc6;
}
#modal>#modal-advice-exercise{
	background: #e1f3fc;
}
#modal>#modal-advice-food>h2,
#modal>#modal-advice-exercise>h2{
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	height: 40px;
	letter-spacing: .1em;
	line-height: 40px;
	text-align: center;
}
#modal>#modal-advice-food>h2{
	background: #cfb847;
}
#modal>#modal-advice-exercise>h2{
	background: #4f9fc5;
}
#modal>#modal-advice-food>h2:before,
#modal>#modal-advice-exercise>h2:before{
	background: url("../img/icon-hand-white.png") no-repeat 50% 49%;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 40px;
	margin-right: 5px;
	vertical-align: top;
	width: 13px;
}
#modal-advice-food>div{
	display: none;
}
.cs-a0 #modal-advice-food>#modal-advice-food-a,
.cs-a1 #modal-advice-food>#modal-advice-food-a,
.cs-a2 #modal-advice-food>#modal-advice-food-a,
.cs-b0 #modal-advice-food>#modal-advice-food-b,
.cs-b1 #modal-advice-food>#modal-advice-food-b,
.cs-b2 #modal-advice-food>#modal-advice-food-b,
.cs-c0 #modal-advice-food>#modal-advice-food-c,
.cs-c1 #modal-advice-food>#modal-advice-food-c,
.cs-c2 #modal-advice-food>#modal-advice-food-c{
	display: block;
}
#modal-advice-food>div>dl,
#modal-advice-exercise>div>dl{
	display: none;
	padding: 14px 14px 0 14px;
}
#modal-advice-food>div>dl:last-child,
#modal-advice-exercise>div>dl:last-child{
	display: block;
}
#modal-advice-food>div>dl>dt,
#modal-advice-exercise>div>dl>dt{
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 14px;
	text-align: center;
}
#modal-advice-food>div>dl>dt{
	border-bottom: 1px solid #154734;
	color: #154734;
}
#modal-advice-exercise>div>dl>dt{
	border-bottom: 1px solid #154734;
	color: #154734;
}
#modal-advice-food>div>dl>dd,
#modal-advice-exercise>div>dl>dd{
	font-size: 12px;
	line-height: 1.8;
	overflow: hidden;
	padding: 13px 13px 0 13px;
}
#modal-advice-food>div>dl>dd{
	color: #154734;
}
#modal-advice-exercise>div>dl>dd{
	color: #154734;
}
#modal-advice-food>div>dl>dd>figure,
#modal-advice-exercise>div>dl>dd>figure{
	display: block;
	float: right;
	margin: 0 0 1em 1em;
}
#modal-advice-food>div>dl>dd>figure>img,
#modal-advice-exercise>div>dl>dd>figure>img{
	width: 151px;
}
#modal-advice-food a.btn-close,
#modal-advice-exercise a.btn-close{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 23px;
}
#modal-advice-food a.btn-close{
	background-color: #154734;
}
#modal-advice-exercise a.btn-close{
	background-color: #154734;
}

#modal-about{
	height: 367px;
}
#modal-about #modal-about-a,
#modal-about #modal-about-b,
#modal-about #modal-about-c{
	display: none;
	position: relative;
}
.cs-a0 #modal-about #modal-about-a,
.cs-a1 #modal-about #modal-about-a,
.cs-a2 #modal-about #modal-about-a,
.cs-b0 #modal-about #modal-about-b,
.cs-b1 #modal-about #modal-about-b,
.cs-b2 #modal-about #modal-about-b,
.cs-c0 #modal-about #modal-about-c,
.cs-c1 #modal-about #modal-about-c,
.cs-c2 #modal-about #modal-about-c{
	display: block;
}
#modal-about h2{
	text-align: center;
}
#modal-about h2 img{
	width: 100%;
	max-width: calc(1162px / 3);
}
#modal-about p{
	border-top: 1px solid #aaa;
	color: #154734;
	font-size: 12px;
	line-height: 1.6;
	margin: 0 22px 22px 22px;
	padding-top: 22px;
}
#modal-about a.btn-close{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 23px;
}

#modal-aboutsite{
	padding: 0 14px 14px 14px;
}
#modal-aboutsite>h2{
	border-bottom: 2px solid #154734;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #154734;
	font-size: 17px;
	height: 80px;
	line-height: 80px;
	letter-spacing: .1em;
	margin: 0 -14px 17px -14px;
	text-align: center;
}
#modal-aboutsite>h2:before{
	background: url("../img/icon-aboutsite.png") no-repeat 50% 50%;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 18px;
	margin-right: 5px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
	vertical-align: middle;
	width: 22px;
}
#modal-aboutsite>p{
	color: #154734;
	font-size: 12px;
	margin-bottom: 17px;
}
#modal-aboutsite>p:last-of-type{
	border-bottom: 1px solid #aaa;
	padding-bottom: 17px;
	margin-bottom: 17px;
}
#modal-aboutsite>h3{
	border-top: 1px solid #aaa;
	color: #154734;
	font-size: 15px;
	letter-spacing: .1em;
	margin: 17px 0 0 0;
	padding: 17px 0;
	text-align: center;
}
#modal-aboutsite>h4{
	background: #f1dd7b;
	color: #154734;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0;
	margin-bottom: 12px;
	padding: 5px 0;
	text-align: center;
}

#tracking-links{
	height: 1px;
	left: -1px;
	overflow: hidden;
	position: absolute;
	top: -1px;
	width: 1px;
}

@media (max-width: 350px){
	body>#main>nav>ul>li{
		padding: 0 4px;
	}
	body>#main>nav>ul>li>a{
		letter-spacing: 0;
	}
	#modal>#modal-start{
		padding: 10px;
	}
	body>footer{
		padding: 0 0 0 53px;
	}
	body>footer>a.logo{
		left: 8px;
	}

}
